<aside class="sidebar">
  <div class="profile">
    <img src="assets/images/logo.png" alt="Logo" class="profile-img" />
    <h3 class="username">biruk</h3>
  </div>
  <nav class="nav-links">
 <a routerLink="/" routerLinkActive="active">Dashboard</a>
<a routerLink="/logistics" routerLinkActive="active">Logistics</a>
    <a routerLink="/history" routerLinkActive="active">
      <i class="icon">📄</i> History
    </a>
    <a routerLink="/report" routerLinkActive="active">
      <i class="icon">📰</i> Report
    </a>
    <a routerLink="/recycle-bin" routerLinkActive="active">
      <i class="icon">♻️</i> Recycle Bin
    </a>
  </nav>
</aside>
