<aside class="sidebar">
    <!-- Top toggle button -->
    <br><br><br><br><br>
    <div class="icon-group" class="dashboard_icon">
        <button [routerLink]="'/dashboard'" aria-label="Dashboard" [title]="'Dashboard'">
      <i class="fas fa-tachometer-alt"></i> <!-- Dashboard icon -->
      <span class="label" *ngIf="!isCollapsed">Dashboard</span>
      <span class="tooltip-text">Dashboard</span>
    </button>
    </div>
    <hr />
    <div class="icon-group">
        <button [routerLink]="'/logistics'" aria-label="Logistics" [title]="'Logistics'">
      <i class="fas fa-truck"></i> <!-- Logistics icon -->
      <span class="label" *ngIf="!isCollapsed">Logistics</span>
      <span class="tooltip-text">Logistics</span>
    </button>
        <button [routerLink]="'/history'" aria-label="History" [title]="'History'">
      <i class="fas fa-history"></i> <!-- History icon -->
      <span class="label" *ngIf="!isCollapsed">History</span>
      <span class="tooltip-text">History</span>
    </button>
        <button [routerLink]="'/report'" aria-label="Report" [title]="'Report'">
      <i class="fas fa-chart-bar"></i> <!-- Report icon -->
      <span class="label" *ngIf="!isCollapsed">Report</span>
      <span class="tooltip-text">Report</span>
    </button>
        <button [routerLink]="'/recyclebin'" aria-label="Recyclebin" [title]="'Recyclebin'">
      <i class="fas fa-trash-alt"></i> <!-- Recyclebin icon -->
      <span class="label" *ngIf="!isCollapsed">Recyclebin</span>
      <span class="tooltip-text">Recyclebin</span>
    </button>
    </div>

    <hr />

    <div class="icon-group">
        <button aria-label="Settings" [routerLink]="'/setting'" [title]="'Settings'">
      <i class="fas fa-cog"></i> <!-- Settings icon -->
      <span class="label" *ngIf="!isCollapsed">Settings</span>
      <span class="tooltip-text">Settings</span>
    </button>
    </div>

    <hr />

    <div class="profile">
        <img src="path_to_profile.jpg" alt="User profile" />
    </div>
</aside>