<div class="row row-1-col">
  <div class="box">
    <div class="tracker-container">
      <input type="text" placeholder="Enter Bill Number" />
      <button>Track</button>
    </div>

    <div class="status-display">
      <div class="shipment-tracker">
        <div
          class="tracker-step"
          data-info="Loaded at Port of Origin
Date: 18-Sep-2025
Remarks: Shipment ready for departure"
          title="Loaded"
        >
          <i class="fa-solid fa-ship step-icon"></i>
        </div>

        <div
          class="tracker-step"
          data-info="Shipment arrived at Djibouti port"
          title="Arrived Djibouti"
        >
          <i class="fa-solid fa-ship step-icon"></i>
        </div>

        <div
          class="tracker-step"
          data-info="Shipment arrived at AAK warehouse"
          title="Arrived AAK"
        >
          <i class="fa-solid fa-truck step-icon"></i>
        </div>

        <div
          class="tracker-step"
          data-info="Shipment arrived at SDT warehouse"
          title="Arrived SDT"
        >
          <i class="fa-solid fa-truck step-icon"></i>
        </div>

        <div
          class="tracker-step"
          data-info="Container returned to Djibouti"
          title="Container Returned Djibouti"
        >
          <i class="fa-solid fa-truck step-icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
