<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3>Add Intransit Entry</h3>
    <hr>

    <div *ngFor="let item of data.items; let i = index">
      <input [(ngModel)]="item.itemDescription" placeholder="Item Description">
      <input [(ngModel)]="item.quantity" placeholder="Quantity" type="number">
      <input [(ngModel)]="item.unitPrice" placeholder="Unit Price" type="number">
      <input [(ngModel)]="item.uom" placeholder="UOM">
      <button (click)="removeItem(i)">Remove</button>
    </div>

    <button (click)="addItem()">Add Item</button>
    <hr>

    <button (click)="saveData()">Save</button>
    <button (click)="closeModal()">Cancel</button>
  </div>
</div>
