<header class="topbar">
    <div class="menu-toggle">
        Super Doube T
    </div>


    <div class="topbar-user">
        <img src="https://i.pravatar.cc/40" alt="User" class="user-avatar" />
        <span class="username">John Doe</span>
        <i class="fas fa-caret-down dropdown-icon"></i>

        <div class="user-dropdown">
            <a href="#">Profile</a>
            <a href="#">Settings</a>
            <a href="#">Notifications <span class="badge">3</span></a>
            <a href="#">Help</a>
            <a href="#">Logout</a>
        </div>
    </div>
</header>